.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    pointer-events: none;
    transform: scale(1);
    transition: transform 0.3s ease;
    z-index: 9999;
   }
   
   .custom-cursor.hovered {
    transform: scale(2);
   }
   